<link rel="stylesheet" href="/css/input.css">

<form action="/topic/create" method="post">
    <input type="text" name="title" class="input-text" placeholder="title..">
    <textarea name="content" id="" class="input-textarea" cols="30" rows="10" placeholder="content.."></textarea>
    <button>Submit</button>
</form>